<%- include('../layouts/main', { pageTitle: '404' }) %>
<h1>404</h1>
<p>La pagina richiesta non è stata trovata.</p>
<p><a class="btn" href="/">Torna alla Home</a></p>
<%- include('../layouts/footer') %>
