<%- include('../layouts/main', { pageTitle: 'Errore' }) %>
<h1>Errore interno</h1>
<p>Qualcosa è andato storto. Riprova più tardi.</p>
<p><a class="btn" href="/">Torna alla Home</a></p>
<%- include('../layouts/footer') %>
